body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: #067878;
    color: white;
    cursor: pointer;
}

.container {
    background-color: white;
    padding: 25px;
    max-width: 500px;
}

#lista-tarefa {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 12px;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

li span{
    flex-grow: 1;
    margin-left: 8px;
    margin-right: 8px;
}

.concluida span {
    text-decoration: line-through;
    color: rgb(49, 81, 49);
}


.btn-excluir {
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
}

.btn-excluir:hover{
    color: red;
    font-weight: bold;
}






